@font-face {
  font-family: Rozha;
  src: url("../public/fonts/RozhaOne.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Teko:wght@300..700&family=Yatra+One&display=swap");

:root {
  --purple: rgb(59, 25, 138);
  --pink: rgb(251, 86, 198);
  --orange: rgb(201, 94, 57);
}

html,
body {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Yatra One";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  z-index: 1;
}

.container {
  position: relative;
  height: 100%;
  width: 600px;
  background: url("../public/components/pattern.svg");
  background-color: var(--purple);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 20px;
}

.rangoli-anim {
  position: absolute;
  height: 450px;
  width: 450px;
  margin-top: -160px;
  margin-right: -180px;
  top: 0;
  right: 0;
  opacity: 0.2;
}

.content {
  display: flex;
  padding: 30px 30px 55% 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ganeshji-pic {
  width: 120px;
  margin-left: -25px;
}

.names {
  margin: 30px 0 0 0;
  font-weight: bold;
  font-size: 18px;
}

.two span {
  font-size: 12px;
  margin-right: 5px;
}

.two {
  margin: 0;
}

.top-text {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.gp {
  font-size: 65px;
  color: var(--pink);
  margin-top: 5px;
  line-height: 1.2;
}

.text-two {
  font-size: 16px;
  margin-top: 30px;
  line-height: 2;
}

.countdown {
  display: flex;
  margin-top: 30px;
}

.countdown p {
  background-color: white;
  margin-right: 5px;
  padding: 10px 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  width: 80px;
  color: var(--pink);
}

.countdown p span {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--pink);
}

.date {
  margin-top: 45px;
  font-size: 28px;
  background-color: var(--pink);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
}

.time {
  margin-top: 45px;
}

.location {
  width: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

iframe {
  width: 100%;
  outline: none;
  border: none;
}

i {
  color: var(--purple);
  font-size: 12px;
}

.address-head {
  margin-bottom: 5px;
  color: var(--purple);
  font-weight: bold;
}

.address {
  color: var(--purple);
  margin-bottom: 30px;
}

.fam-pic {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -20px;
  width: 100%;
  z-index: 0;
  opacity: 0.6;
}

.thanks {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.btnT {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.btnT div {
  display: flex;
  justify-content: center;
}

.btnHin,
.btnEng {
  width: 60px;
  height: 25px;
  margin: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  background-color: white;
  color: black;
}

/* *********************  MOBILE  ******************** */
@media only screen and (max-width: 480px) {
  .container {
    height: fit-content;
    width: 100%;
  }

  .content {
    height: fit-content;
    width: 100%;
  }

  * {
    width: 100%;
  }

  .container {
    padding: 12px;
  }
}
