@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

:root {
  --purple: rgb(59, 25, 138);
  --pink: rgb(251, 86, 198);
  --orange: rgb(201, 94, 57);
}

html,
body {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  z-index: 1;
}

.container {
  position: relative;
  height: 100%;
  width: 600px;
  background: url("../public/components/pattern.svg");
  background-color: var(--purple);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 20px;
}

.rangoli-anim {
  position: absolute;
  height: 450px;
  width: 450px;
  margin-top: -160px;
  margin-right: -180px;
  top: 0;
  right: 0;
  opacity: 0.2;
}

.content {
  position: relative;
  display: flex;
  padding: 30px 30px 250px 30px;
  width: 520px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ganeshji-pic {
  width: 120px;
  margin-left: -25px;
}
.names {
  margin: 20px 0;
  color: var(--green);
  font-weight: bold;
  font-size: 16px;
  font-family: "Holtwood One SC";
}

.top-text {
  font-size: 16px;
  margin: 30px 0;
}

.gp {
  font-family: "Holtwood One SC";
  font-size: 55px;
  color: var(--pink);
}

.text-two {
  font-size: 16px;
  margin-top: 30px;
  line-height: 2;
}

.date {
  margin-top: 30px;
  font-size: 28px;
  background-color: var(--pink);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
}

.location {
  width: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

iframe {
  outline: none;
  border: none;
}

i {
  color: var(--purple);
  font-size: 12px;
}

.address-head {
  margin-bottom: 5px;
  color: var(--purple);
  font-weight: bold;
}

.address {
  color: var(--purple);
  margin-bottom: 30px;
}

.fam-pic {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -20px;
  width: 100%;
  z-index: 0;
  opacity: 0.4;
}
.thanks {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-family: "Holtwood One SC";
}

/* *********************  MOBILE  ******************** */
@media only screen and (max-width: 480px) {
  .container {
    height: fit-content;
    width: 100%;
  }

  .content {
    height: fit-content;
    width: 100%;
  }
}
